<section id="conocimientos">
    <h2>Conocimientos</h2>
    <ul>
        <li>Programación en Java orientado a objetos</li>
        <li>Desarrollo web con HTML, CSS y JavaScript</li>
        <li>Diseño y consulta de bases de datos (SQL)</li>
        <li>Control de versiones con Git</li>
        <li>Conocimientos básicos en administración de sistemas informáticos y redes</li>
    </ul>
</section>